/* Estilo general para la vista de cuadrícula */
ion-grid {
  padding: 10px;
}

.hero-container {
  height: 8vh;
  background: url('https://thumbs.dreamstime.com/b/fila-de-zapatos-casuales-mostrados-en-estantes-una-tienda-minorista-corales-las-estanter%C3%ADas-impecables-dentro-con-el-foco-calzado-394351800.jpg?w=992') no-repeat center center / cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-overlay {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-content h1 {
  color: white;
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 1px;
  letter-spacing: -1px;
}

.hero-content .highlight {
  color: #f4cf15; /* Un tono amarillo/dorado moderno */
}

.product-card {
  margin: 8px 0;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s;
  height: 100%; /* Asegura que todas las tarjetas tengan la misma altura */
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  /* Asegura que las imágenes dentro de las tarjetas tengan un tamaño uniforme */
  width: 100%;
  height: 180px; /* Altura fija para consistencia visual */
  object-fit: cover; /* Recorta la imagen para que encaje perfectamente */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

ion-card-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 5px;
}

ion-card-subtitle {
  font-size: 0.8rem;
  color: var(--ion-color-medium-shade);
}

ion-card-content {
  padding-top: 0;
}

.price {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--ion-color-dark);
  margin-bottom: 10px;
}

/* Ajustes para dispositivos grandes (desktop) */
@media (min-width: 992px) {
  ion-grid {
    padding: 20px 50px;
  }
}
